<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WebServicesSaferbo.SOAP.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="dscodigocliente" value="999997" />
    <add key="URL_Saferbo" value="https://app.saferbo.com/webservices/ws.generar.guias.directo.php?destino=" />
    <add key="Id_CodFacturacion" value="SER408" />
    <add key="login" value="Luis1937" />
    <add key="Nombre_Cargue" value="CARGA INTREGRACIÓN BATA" />
    <add key="pwd" value="MZR0zNqnI/KplFlYXiFk7m8/G/Iqxb3O" />
    <add key="rutaGuiaPDF" value="D:\\Guias\\reportSticket_" />
    <add key="deptarmentoDestino" value="CALDAS" />
    <add key="TipoEmpaqueServientrega" value="GENERICA" />
    <add key="Id_Cliente" value="26539" />
    <add key="usuario" value="manisol.ws680" />
    <add key="clave" value="Mhj90?!1" />
    <add key="TipoEmpaqueCoordinadora" value="CAJA" />
    <add key="Codigo_remision" value="75500123461" />
    <add key="Transportadoras" value="1: Saferbo; 2: Servientrega; 3: Coordinadora" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.1.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <applicationSettings>
    <WebServicesSaferbo.SOAP.Properties.Settings>
      <setting name="WebServicesSaferbo_SOAP_WebServicesServientrega_GeneracionGuias" serializeAs="String">
        <value>http://190.131.194.159:8059/GeneracionGuias.asmx</value>
      </setting>
      <setting name="WebServicesSaferbo_SOAP_WebServicesCoordinadora_JRpcServerSoapManagerService" serializeAs="String">
        <value>http://sandbox.coordinadora.com/agw/ws/guias/1.6/server.php</value>
      </setting>
    </WebServicesSaferbo.SOAP.Properties.Settings>
  </applicationSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IPickUpRequest" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://190.131.194.159/PickUpRequest.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IPickUpRequest"
        contract="ServientregaRecogida.IPickUpRequest" name="BasicHttpBinding_IPickUpRequest" />
    </client>
  </system.serviceModel>
</configuration>